<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <!-- ajax 및 jquery -->
  <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
  <!-- jquery-ui -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- jquery-ui css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <!-- 구글폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;300&display=swap"
    rel="stylesheet"> rel="stylesheet">
  <%- include('./style'); %>

    <script type="text/javascript">
      const spinner = `
        <div class="spinner-border text-light" style="display : block;margin : 0 auto;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      `
      // 페이지 로딩하자마자 실행할 함수
      $(document).ready(function () {
        // 로그인
        isLogin();
        // 추천배너
        // showRecommendedGames();

        autocompletaion();
      });

      // 검색 엔터키로 가능하게 하기
      const enterkey = () => {
        if (window.event.keyCode == 13) {
          check();
        }
      }

      // 로그아웃
      const sign_out = () => {
        $.removeCookie("Bearer", { path: "/" });
        alert("로그아웃");
        window.location.href = "/";
      }

      // 로그인 상태에 따라 로그인, 로그아웃 버튼 다르게 만들기
      const isLogin = () => {
        const cookie = $.cookie("Bearer");
        let temp_html;
        if (cookie) {
          temp_html = `<input type="submit" value="로그아웃" onclick="sign_out()" class="login_button">`;
        } else {
          temp_html = `<input type="submit" value="로그인" onclick="location.href='/user/login'" class="login_button">`;
        }
        $("#isLogin").append(temp_html);
      }

      const autocompletaion = () => {
        $('#inputBox').autocomplete({
          source: function (request, response) {
            $.ajax({
              type: 'post',
              url: `/search/autocomplete`,
              dataType: 'json',
              data: { value: request.term },
              success: function (data) {
                // 서버에서 json 데이터 response 후 목록 추가
                response(
                  $.map(data, function (item) {
                    return {
                      label: item._source.name,
                      appid: item._source.appid,
                      img_url: item._source.img_url,
                    }
                  })
                );
              }
            });
          },
          minLength: 2,
          delay: 350,
          select: function (event, ui) {
            // 만약 검색리스트에서 선택하였을때 선택한 데이터에 의한 이벤트발생
            $('#inputBox').val(`${ui.item.label}`);
            render_games()
          }
        }) // style: hover-events: none;
          .autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li class='match_li'>").append(
              `<a class="match">
            <div class="match_name">
                ${item.label}
            </div>
            <div class="match_img">
              <img src="${item.img_url}" style="width: 120px; height: 52px;">
            </div>
            <div></div>
          </a>`).appendTo(ul);
          };
      }

      // 넣은 키워드가 있는지 검사
      const check = () => {
        var search = document.querySelector("#inputBox").value;

        if (search == "") {
          alert("검색어를 입력해주세요");
          event.preventDefault();
        } else {
          render_games();
        }
      }

      // 검색 페이지로 이동
      const render_games = () => {
        let keyword = $("#inputBox").val();
        const filterExists = language === 'none' && voted_up === 'none' ? false : true
        const data = {
          'keyword': keyword,
          'slice_start': '0'
        }
        localStorage.setItem("data", JSON.stringify(data));
        location.href = '/search'
      }

      // 리뷰 페이지네이션
      const show_reviews_appid = (appid) => {
        $("#bundle").empty()
        $("#spinner").append(spinner)
        let count = document.querySelectorAll('#game').length
        // console.log(appid, count)
        $.ajax({
          type: "GET",
          url: `/search/appid?appid=${appid}&slice_start=${count}`,
          data: {},
          success: function (response) {
            if (!response.data.length) {
              let temp_html = `
            <div class="name">
              <h3 style="color: #eeecea;">~검색결과 없음~</h3>
            </div>`
              $("#game-list").append(temp_html);
              $("#spinner").empty();
              return;
            }
            appendingReviews(response)
            // 필터넣는 버튼, 안넣는 버튼 구분해야해서 매번 만들어줘야함
            if (response.data.length >= 30) {
              $("#spinner").empty();
              $("#bundle").append(
                `<div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" onclick="show_reviews_appid(${response.data[0]._source.appid})" style="margin-bottom: 20px">30개 더보기</button>
              </div>`)
            }
          }
        });
      }

      const show_with_Filter = (appid, isfirst) => {
        $("#bundle").empty()
        $("#spinner").append(spinner)
        if (isfirst == true) $("#game-list").empty();
        let language = $("#language").val();
        let voted_up = $("#voted_up").val();
        let sort = {};
        sort[$("#sort").val()] = "desc";
        let count = document.querySelectorAll('#game').length
        $.ajax({
          type: "POST",
          url: `/search/appid`,
          data: {
            'appid': `${appid}`,
            'filterExists': language === 'none' && voted_up === 'none' ? false : true,
            'filter': {
              'language': `${language}`,
              'voted_up': voted_up,
            },
            'sort': [sort],
            'slice_start': `${count}`
          },
          success: function (response) {
            if (!response.data.length) {
              let temp_html = `
            <div class="name">
              <h3 style="color: #eeecea;">~검색결과 없음~</h3>
            </div>`
              $("#game-list").append(temp_html);
              $("#spinner").empty();
              return;
            }
            if (isfirst == true) appendingGameDoc(response)
            appendingReviews(response)
            // 필터넣는 버튼, 안넣는 버튼 구분해야해서 매번 만들어줘야함
            $("#spinner").empty();
            if (response.data.length >= 30) {
              $("#bundle").append(
                `<div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" onclick="show_with_Filter(${response.game_doc.appid}, false)" style="margin-bottom: 20px">30개 더보기</button>
              </div>`)
            }
          }
        });
      }

      const appendingGameDoc = (response) => {

        $("#spinner").empty();
        let game_doc = response.game_doc;
        let temp_html_game =
          `<div style="width: 1010px" id="game-list">
            <div class="card mb-3 game_card" style="max-width: 1010px; " id="game">
              <div class="row g-0">
                <div class="col-md-4" 
                onclick="location.href='${game_doc['img_url'] || "http://localhost:3000/images/ready.jpg"}'" 
                style="cursor:pointer;display:flex;justify-content: center;align-items: center">
                  <img style="height: 156px" src="${game_doc['img_url'] || "http://localhost:3000/images/ready.jpg"}" class="img-fluid rounded-start" alt="..." >
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">${game_doc["name"]}</h5>
                    <p class="card-text">
                      STEAM 평가: ${game_doc["review_score_desc"]} / 
                      Metacritic: ${game_doc["metacritic"] ? game_doc["metacritic"]["score"] + "점" : "없음"}
                    </p>
                    <p class="card-text"><small class="text-muted">
                      ${game_doc["short_description"] ? game_doc["short_description"] : "-"}
                      <br><br>
                      <b>플랫폼</b>: ${game_doc["platforms"] ? findPlatform(game_doc["platforms"]) : "-"}
                      <br>
                      <b>출시일</b>: ${game_doc["release_date"] ? game_doc["release_date"]["date"] : "-"}
                      <br>
                      <b>장르</b>: ${game_doc["genres"] ? findGenresOrCategories(game_doc["genres"]) : "-"}
                      <br>
                      <b>카테고리</b>: ${game_doc["categories"] ? findGenresOrCategories(game_doc["categories"]) : "-"}
                      <br>
                      <b>언어</b>: ${game_doc["supported_languages"] ? game_doc["supported_languages"] : "-"}
                      </small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>`

        $(`#game-list`).append(temp_html_game);
      }

      const appendingReviews = (response) => {

        let reviews = response.data;
        for (let i = 0; i < reviews.length; i++) {
          let color = reviews[i]._source.voted_up == true ? 'review-card-blue' : 'review-card-red'
          let temp_html = `<div class="review-card ${color}"  id="game">
            <blockquote class="blockquote mb-0">
              <div class="name">
                <br>
                playtime: 평가 당시 ${Math.floor(reviews[i]._source.playtime_at_review / 60)} 시간
                  & ${reviews[i]._source.voted_up == true ? '추천' : '비추천'}
                    <div class="playtime">${timestampToDate(reviews[i]._source.timestamp_updated)}
                    </div>
                    <div class="votes_up">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                        <path
                          d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                      </svg>
                      ${reviews[i]._source.votes_up}
                    </div>
                    <div class="votes_funny">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                          d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
                      </svg>
                      ${reviews[i]._source.votes_funny}
                    </div>
              </div>
              <div class="review">
                ${reviews[i]["_source"]["review"].replace(/(?:\r\n|\r|\n)/g, "<br>")}
              </div>
            </blockquote>
          </div>`;
          $(`#game-list`).append(temp_html);
        }
        // 30개버튼은 안없애다가 오는 양이 적어지면 없애는걸로
        // 아 근데 그러면 갯수를 못세내...가 아니라 그냥 여기와서 세면 안되나?
      }


      const findGenresOrCategories = (element) => {
        let arr = [];
        for (let i = 0; i < element.length; i++) {
          arr.push(element[i].description)
        }
        return arr.join(", ")
      };


      const findPlatform = (platforms) => {
        let arr = [];
        for (const platform in platforms) {
          const check = platforms[platform] ? platform : ""
          arr.push(check)
        }
        return arr.join(" ")
      }

      const timestampToDate = (timestamp) => {
        let date = new Date(timestamp * 1000)
        let today = new Date()
        let time = (today - date) / 1000 / 60 / 60 / 24 // 일
        let YMD = `${date.getFullYear()}년 ${date.getMonth() + 1}월 ${date.getDate()}일`

        if (time < 7) {
          return parseInt(time) + "일 전"
        }
        time = time / 7
        if (time < 5) {
          return parseInt(time) + "주 전"
        }
        time = time / 5
        if (time < 12) {
          return parseInt(time) + "개월 전"
        }
        return YMD
      }
      const recommendUpdateCheck = () => {
        const cookie = $.cookie("Bearer");
        if (!cookie) {
          alert("로그인 후 이용 가능합니다.")
          location.href = "/user/login"
          return;
        }
        $("#bundle").append(spinner)
        $.ajax({
          type: "get",
          url: `/analyze`,
          data: {},
          success: function (response) {
            $("#game-list").empty();
            $("#bundle").empty();
            if (response.result.status === 200) {
              if (response.result.message === "success") {
                alert("추천 게임이 갱신되었습니다.");
              }
              alert("홈으로 이동합니다");
              $("#carouselExampleFade").empty();
              location.href = "/"
            } else {
              alert("충분한 데이터가 쌓이지 않아 사용할 수 없습니다.");
            }
          }
        })
      }
    </script>
</head>

<body>

  <section style="display: flex;flex-direction: column;justify-content: center; align-items: center;" id="isLogin">
  </section>
  <section style="display: flex;flex-direction: column;justify-content: center; align-items: center;">
    <h1 class="title"><a href="/">Steam For U</a></h1>
    <!--웹페이지 안에 스팀포유 띄움. 그리고 css 파일에 red함수를 가져와서 쓴다.-->

    <!-- <form method="get" action="search"> -->
    <div class="name ">
      <input type="text" placeholder=" 검색어를 입력하세요" id="inputBox" onkeyup="enterkey();" class="back_color"
        style="width: 500px;" value="<%= result? name : '' %>" />
      <input id="submit" type="submit" value="검색" onclick="render_games()" />
      <button type="button" class="btn btn-outline-light" style="margin-left:10px;" onclick="recommendUpdateCheck()">나를
        위한
        추천</button>
    </div>

    <div class="name">
      <select name="language" id="language" class="back_color">
        <option value="none">언어: ALL</option>
        <option value="koreana">korean</option>
        <option value="english">english</option>
      </select>
      <select name="voted_up" id="voted_up" class="back_color">
        <option value="none">추천여부: ALL</option>
        <option value=true>추천</option>
        <option value=false>비추천</option>
      </select>
      <select name="sort" id="sort" class="back_color">
        <option value="weighted_vote_score">유용함</option>
        <option value=timestamp_updated>최신</option>
        <option value=votes_funny>재미있음</option>
        <option value=playtime_at_review>플레이타임</option>
      </select>
      <% if (data.length) { %>
        <button id="submit_filter" class="back_color" type="submit"
          onclick="show_with_Filter('<%= data[0]._source.appid %>', true)">
          필터로 보기
        </button>
        <% } %>
    </div>

  </section>
  <section style="display: flex;flex-direction: column;justify-content: center; align-items: center;">
    <div class="game-list" id="game-list">
      <% if (data.length) { %>
        <div style="width: 1010px" id="game-list">
          <div class="card mb-3 game_card" style="max-width: 1010px; " id="game">
            <div class="row g-0">
              <div class="col-md-4"
                onclick="location.href='<%= game_doc.img_url || `http://localhost:3000/images/ready.jpg` %>'"
                style="cursor:pointer;display:flex ;justify-content: center; align-items: center">
                <img style="height: 156px" src="<%= game_doc['img_url'] || 'http://localhost:3000/images/ready.jpg'  %>"
                  class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= game_doc["name"] %>
                  </h5>
                  <p class="card-text">
                    STEAM 평가: <%= game_doc["review_score_desc"] %> /
                      Metacritic: <%= game_doc["metacritic"] ? game_doc["metacritic"]["score"] + "점" : "없음" %>
                  </p>
                  <p class="card-text"><small class="text-muted">
                      <%= game_doc["short_description"] ? game_doc["short_description"] :"-" %>
                        <br><br>
                        <b>플랫폼</b>: <%= game_doc["platforms"] ?func.findPlatform(game_doc["platforms"]) : "-" %>
                          <br>
                          <b>출시일</b>: <%= game_doc["release_date"] ?game_doc["release_date"]["date"] : "-" %>
                            <br>
                            <b>장르</b>: <%= game_doc["genres"] ? func.findGenresOrCategories(game_doc["genres"]) : "-" %>
                              <br>
                              <b>카테고리</b>: <%= game_doc["categories"]
                                ?func.findGenresOrCategories(game_doc["categories"]): "-" %>
                                <br>
                                <b>언어</b>: <%= game_doc["supported_languages"] ? game_doc["supported_languages"]: "-" %>
                                  <h5 style="cursor:pointer;"
                                    onclick='location.href="https://store.steampowered.com/app/<%= game_doc.appid %>/"'>
                                    스팀 바로가기
                                  </h5>
                    </small></p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <% for (let i=0; i < data.length; i++) { %>
          <div
            class="review-card <% if (data[i]._source.voted_up==true) {%> review-card-blue <% } else { %> review-card-red <% } %>"
            id="game">
            <blockquote class="blockquote mb-0">
              <div class="name">
                <br>
                playtime: 평가 당시 <%= Math.floor(data[i]._source.playtime_at_review / 60) %> 시간
                  - <%= data[i]._source.voted_up==true ? '추천' : '비추천' %>
                    <div class="playtime">
                      <%= func.timestampToDate(data[i]._source.timestamp_updated) %>
                    </div>
                    <div class="votes_up">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                        <path
                          d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                      </svg>
                      <%= data[i]._source.votes_up %>
                    </div>
                    <div class="votes_funny">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-emoji-laughing" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                          d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z" />
                      </svg>
                      <%= data[i]._source.votes_funny %>
                    </div>
              </div>
              <div class="review">
                <%- data[i]["_source"]["review"].replace(/(?:\r\n|\r|\n)/g, "<br>" ) %>
              </div>
            </blockquote>
          </div>`
          <% } %>
            <% } else { %>
              <h1>결과없음</h1>
              <% } %>
    </div>
    <div id="bundle" style="width: 1010px; margin-bottom: 100px;">
      <% if (data.length>= 30) { %>
        <div class="d-grid gap-2">
          <button class="btn btn-dark" type="button" onclick="show_reviews_appid('<%= data[0]._source.appid %>')"
            style="margin-bottom: 20px">
            30개 더보기
          </button>
        </div>
        <% } %>
    </div>

    <div id="spinner" style="width: 1010px; margin-bottom: 100px;">
    </div>
  </section>
  <!-- </form> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

<script></script>

</html>